section.search-page__filtering
  .container-fluid
    each filter, filterKey in filterOptions
      if (!frontpage)
        - var currentChoice = filters.params.filters[filterKey] || false
      .dropdown
        a.dropdown__selected(
          class=currentChoice ? '' : 'dropdown__selected--not-bold') 
          if currentChoice
            if currentChoice.label
              = currentChoice.label
            else
              = filter.options[currentChoice].label
          else 
            = filter.label
        .dropdown__options
          if filter.notSelectedLabel
            - var noFilterUrl = helpers.urlQuery(fullPath, filterKey, undefined)
            - if (filter.type === 'catalog') { noFilterUrl = '/' + queryUrl }
            a.dropdown__option(href=noFilterUrl, 
              class=!currentChoice ? 'dropdown__option--active' : '') 
                | #{filter.notSelectedLabel} 

          if filter.options
            each option, key in filter.options
              - var selected = key === currentChoice
              - var url = helpers.urlQuery(fullPath, filterKey, key)
              - if (filter.type === 'catalog') { url = key + queryUrl }
              a.dropdown__option(href=url, 
                class=selected ? 'dropdown__option--active' : '') #{option.label} 

          if filter.option && filter.option.type === 'date-range'
            .form-group
              form(method='get', data-method='modify-query')
                label(for='#{filterKey}-from-date') Fra dato
                input(type='date', name='#{filterKey}-from', 
                  id='#{filterKey}-from-date', value=currentChoice.from
                  placeholder='fx 24/12/1849').form-control
                label(for='#{filterKey}-to-date') Til dato
                input(type='date', name='#{filterKey}-to', 
                  id='#{filterKey}-to-date', value=currentChoice.to
                  placeholder='fx 24/12/1945').form-control
                button.btn.btn-block.btn-primary(type='submit') Filtrér
