include ../mixins/search-count
include ../mixins/loader

.search-page__header
  h1
    if isLoading
      +loader()
    else
      if isFiltered
        | Filtrering gav
      else
        | I alt
      +searchCount

  .search-page__sorting
    | Sorteret efter
    .dropdown#sorting
      a.dropdown__selected= sortOptions[sorting].label
      .dropdown__options
        each val, key in sortOptions
          - var selected = (key === sorting)
          a.dropdown__option(
            href=url,
            class=selected ? 'dropdown__option--active' : '',
            data-value=key
          ) #{val.label}
