include ../mixins/icon.jade

- var sidebar = config.features.filterSidebar
- var boxCol = sidebar ? 'col-xs-6 col-md-4' : ' col-xs-6 col-md-4 col-lg-3'
.box(class=boxCol)
  a(href='/' + asset.catalog + '/' + asset.id, name=index||false)
    .image
      .overlay.square-container
        img(src=asset.catalog + '/' + asset.id + '/thumbnail').object-fit
    h2.h4= asset.short_title
    p.description= asset.description
