header.topbar(class=frontpage ? 'topbar--frontpage' : '')
  .container-fluid
    nav
      .topbar-items
        div(class=frontpage ? 'hidden-md hidden-lg' : '')
          a.logo-wrap(href='/')
            .logo
              +icon('logo')
            .logo-text.hidden-xs
              | Nationalmuseets
              br
              | Samlinger Online
        - var path = (req.path).split('/')
        - var searchMethod = (isSearching ? 'modify-query' : '')
        form.search-box(method='get', data-method='modify-query')
          .input-group
            input.form-control(
              type='text',
              id='search-input',
              placeholder='Søg på samlinger.natmus.dk',
              name='q',
              autocomplete="off",
              value=req.query.q || '')
            .input-group-btn
              button.btn-search.btn
                span.sr-only Søg
                +icon('search')
        #heading-categories-menu.hamburger
          span.sr-only Kataloger og kategorier
          +icon('menu')
      if frontpage
        .logo-wrap.big-wrap.hidden-sm.hidden-xs
          .logo
            +icon('logo')
          .logo-text
            h1 Nationalmuseets Samlinger Online
            .tag-line Udforsk #{totalAssets} billeder fra Nationalmuseets samling
