header.topbar
  .container-fluid
    nav
      .topbar-items
        a.logo-wrap(href='/')
          .logo
            +icon('logo')
          .logo-text.hidden-sm.hidden-xs
            span Nationalmuseets
            span Samlinger Online
        - var path = (req.path).split('/')
        form.search-box(method='get', action='/')
          .input-group
            input.form-control(
              type='text',
              id='search-input',
              placeholder='Søg på samlinger.natmus.dk',
              name='q',
              autocomplete="off",
              value=req.query.q || '')
            span.input-group-btn
              button.btn-search.btn.btn-primary
                span.sr-only Søg
                +icon('search')
        a(href='#')#heading-categories-menu.hamburger
          span.sr-only Kataloger og kategorier
          +icon('menu')
