include ../mixins/icon

header.topbar(class=frontpage ? 'topbar--frontpage' : '')
  .container-fluid
    nav
      .topbar-items
        div(class=frontpage ? 'hidden-md hidden-lg' : '')
          a.logo-wrap(href='/')
            .logo
              +icon('logo')
            .logo-text.hidden-xs
              | Collections Online
        - var path = (req.path).split('/')
        - var searchMethod = (isSearching ? 'modify-query' : '')
        - if(config.features.clientSideSearchResultRendering) {
        -   // Turning off the search related behaviour defined in main.js
        -   searchMethod = false;
        - }
        form.search-box(method='get', action='/', data-method=searchMethod)
          .input-group
            input.form-control(
              type='text',
              id='search-input',
              placeholder='Seach using Collections Online',
              name='q',
              autocomplete="off",
              value=req.query.q || '')
            .input-group-btn
              button.btn-search.btn
                span.sr-only Search
                +icon('search')
        #heading-categories-menu.hamburger
          span.sr-only Catalogs and categories
          +icon('menu')
      if frontpage
        .logo-wrap.big-wrap.hidden-sm.hidden-xs
          .logo
            +icon('logo')
          .logo-text
            h1 Collections Online
            .tag-line Explore #{totalAssets} assets via Collections Online
