each result in results
  div(class='col-xs-12 col-sm-6 col-md-4 col-lg-3 box')
    .thumbnail
      a(href='#{result.url}')
        img(src='#{result.thumbnail_url}', alt='#{result.title}')
        if result.title
          h2.h4 #{result.title}
        else
          h2(class='h4') Ingen titel
        p.description #{result.description}
      p.small
        a(href='#{result.catalog_url}') #{result.catalog}
