include ../../includes/mixins

li
  a.col-xs-12(href='/') Alle

each nav in results
  li
    if nav.current == nav.alias
      a.col-xs-10(href='/#{nav.alias}') #{nav.name}
      a.col-xs-2(href='')
        +icon('plus-2-icon')
      ul(class='menu-childern active', data-menu-child=nav.name)
    else
      a.col-xs-10(href='/#{nav.alias}') #{nav.name}
      a.col-xs-2(href='')
        +icon('plus-2-icon')
      ul(class='menu-childern', data-menu-child=nav.name)
      each child in nav.children.tree

