include ../../mixins/icon

- // Doing a conditional on metadata, makes sure that this section is shown
if Object.keys(metadata).length > 0
  - const latitude = helpers.getFirst(metadata, row.fields.latitude);
  - const longitude = helpers.getFirst(metadata, row.fields.longitude);
  - const heading = helpers.getFirst(metadata, row.fields.heading);
  - const approximate = helpers.getFirst(metadata, row.fields.approximate);
  - const editGeotagging = helpers.geoTagging.enabled(metadata);

  if latitude && longitude
    tr
      th #{row.title}:
      td= latitude.toFixed(5) + ', ' + longitude.toFixed(5)
    tr
      td(colspan='2')
        .geo-tagging-mini-map(
          data-latitude=latitude,
          data-longitude=longitude,
          data-heading=heading,
          data-approximate=approximate ? 'true' : 'false'
        )
    if config.features.geoTagging && editGeotagging
      tr
        td(colspan='2')
          button.btn.btn-default.btn-sm.btn-block(data-action='start-geo-tagging')
            block map-coordinates__edit-coordinates-text
  else
    tr
      th #{row.title}:
      td
        block map-coordinates__missing-coordinates-text
    if config.features.geoTagging
      tr
        td(colspan='2')
          button.btn.btn-primary.btn-sm(data-action='start-geo-tagging')
            block map-coordinates__add-coordinates-text
