mixin meta(title, description, image)
  - // Site variables
  - baseUrl = 'https://' + (req.get('x-forwarded-host') || req.get('host'))
  - unsafeBaseUrl = 'http://' + (req.get('x-forwarded-host') || req.get('host'))
  - pageUrl = baseUrl + req.originalUrl
  - siteTitle = config.siteTitle
  - siteSubTitle = config.siteSubTitle

  - // Social variables
  - twitterAccount = helpers.getTwitterAccount(metadata)
  - twitterCard = 'summary_large_image'
  - facebookAppId = helpers.getFacebookAppId(metadata)
  - facebookType = 'website'

  - // Handle fallbacks
  if title
    - title += ' - ' + siteTitle
  else if siteSubTitle
    - title = siteTitle + ' - ' + siteSubTitle
  else
    - title = siteTitle
  if !description && config.metatags && config.metatags.description
    - description = config.metatags.description
  else if !description
    - description = 'Søg og udforsk ' + siteTitle
  if image
    - image = unsafeBaseUrl + image
  else
    - image = unsafeBaseUrl + '/images/defaultshare.jpg'

  - // Print it out
  title #{title}
  meta(name='description', content=description)
  meta(name='twitter:card', content=twitterCard)
  if twitterAccount
    meta(name='twitter:site', content=twitterAccount)
  meta(name='twitter:title', content=title)
  meta(name='twitter:description', content=description)
  meta(name='twitter:image', content=image)
  meta(property='og:title', content=title)
  meta(property='og:type', content=facebookType)
  meta(property='og:url', content=pageUrl)
  meta(property='og:image', content=image)
  meta(property='og:description', content=description)
  meta(property='og:site_name', content=siteTitle)
  if facebookAppId
    meta(property='fb:app_id', content=facebookAppId)
