mixin filterSection(displayString, field)
  - var outerAggregation = aggregations[field + '_independent']
  - var aggregation = outerAggregation[field]
  - var dataId = field + '-filters'
  h2.search-filter-sidebar__heading.hidden-xs= displayString
  .search-filter-sidebar__filters(data-id=dataId)
    - var availableBuckets = 0
    for bucket in aggregation.buckets
      //- The user has not filtered this field or has not selected this value
      if !filters[field] || filters[field].indexOf(bucket.key) == -1
        - availableBuckets++;
        button.btn.btn-default.btn-filter(data-field=field,data-value=bucket.key,data-action='add-filter')= bucket.key
          span.btn-filter__count= bucket.doc_count
    if aggregation.sum_other_doc_count > 0
      button.btn.btn-default.btn-filter Resten
        span.btn-filter__count= aggregation.sum_other_doc_count
    if availableBuckets === 0
      p.filter-text= 'Der er ikke flere ' + displayString + ', der matcher din filtrering.'
