include ../mixins/date-interval-range-picker

mixin filterSection(displayStringSingular, displayStringPlural, field, type)
  - var dataId = field + '-filters'
  h2.search-filter-sidebar__heading
    span(data-action='show-filters' data-id=field)= displayStringSingular

  .search-filter-sidebar__filters(data-id=dataId)
    if type === 'date-interval-range'
      +dateIntervalRangePicker(field)
    else
      if aggregations
        - var outerAggregation = aggregations[field + '_independent']
        - var aggregation = outerAggregation[field]
        - var availableBuckets = 0
        for bucket in aggregation.buckets
          //- The user has not filtered this field or has not selected this value
          if !filters[field] || filters[field].indexOf(bucket.key) === -1
            - availableBuckets++;
            button.btn.btn-default.btn-filter(data-field=field, data-value=bucket.key, data-action='add-filter')
              span.btn-filter__text
                +filterValue(field, bucket.key)
              span.btn-filter__count= bucket.doc_count
        if aggregation.sum_other_doc_count > 0
          p.filter-text Resten (#{aggregation.sum_other_doc_count}) - søg efter #{displayStringSingular} i stedet.
        if availableBuckets === 0
          p.filter-text Der er ikke flere #{displayStringPlural}, der matcher din filtrering.
      else
        p.filter-text Henter værdier
