extends index

append header
  - siteTitle = req.app.get('site_title');
  if item.short_title
    title= item.short_title + ' - ' + siteTitle
  else
    title= 'Ingen titel - ' + siteTitle

  +assetMeta(item, sources)
  +shareThisJS()

append javascript
  if(showGeotagging)
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=" + google_maps_api_key + "&callback=initMap")

block content
  article(itemscope,
          itemtype='http://schema.org/CreativeWork',
          class='asset item',
          data-catalog-alias=catalog.alias,
          data-item-id=item.id)
    - var title = item.short_title || 'Ingen titel'
    .row
      .col-md-6.col-xs-12.image-row
          - var filename = item.filename.toLowerCase();
          - if(player === "image-single" || player === "image-single-animated")
            .bleed.primary-asset
              +responsiveImage(title, item, sources)
          - else if(player === "image-rotation")
            .bleed.primary-asset
              +rotationImage(title, item, sources)
          - else if(player === "audio")
             audio(controls)
               source(src=sources.audio)
          - else if(player === "video")
            video(width="100%", controls)
              source(src=sources.video, type="video/mp4")

          .asset-tools
            .btn-group.dropup
              a.btn.btn-default.dropdown-toggle(data-toggle='dropdown', role='button') Download
                +icon('download-icon')
              ul.dropdown-menu(role='menu')
                - if(filename.match('.tif$') || filename.match('.tiff$'))
                  li
                    a(href='#{sources.image_set.download_800}') Lille
                  li.divider
                  li
                    a(href='#{sources.image_set.download_1200}') Mellem
                  li.divider
                  li
                    a(href='#{sources.image_set.download_2000}') Stor
                  li.divider
                li
                  a(href='#{sources.download}') Original
            +shareThisHTML()
            span.licens
              span.title Licens:
              - if(item.license)
                  - var license = helpers.license_tag(item.license.id);
                  - if(license)
                    a(href=license.url, rel='license', target='_blank')
                      img(src=license.img, alt='Creative Commons licens')
                  - else
                    | #{item.license.displaystring}
                - else
                  | -
          .related-assets
            each asset in related_assets.visible
              a.related-asset.btn.btn-primary(style='background-image:url(#{asset.src})',
                href=asset.href)
            - if(related_assets.additional.length > 0)
              h2.collapsable-section-header
                a(href='#additional-related', data-toggle='collapse', data-target='#additional-related').collapsed
                  +icon('minus-2-icon')
                  +icon('plus-2-icon')
                  | Flere relaterede
              div#additional-related.collapse
                each asset in related_assets.additional
                  a.related-asset.btn.btn-primary(style='background-image:url(#{asset.src})',
                    href=asset.href)

      .col-md-6.col-xs-12.pull-right.text-row
        if(showGeotagging)
          include geotagging.jade
        p.catalog
          | Fra samlingen: 
          a(href='/#{catalog.alias}') #{catalog.name}

        // Title
        header
          h1(itemprop='name')= title

        // Description
        - if(item.description)
          p.sr-only Beskrivelse
          p(itemprop='description',
            class='lead')= item.description

        // Time and period
        h2 Tidsperiode og årstal
        table
          tbody
            tr
              th Datering:
              td
                +addDating(item, catalog.alias)
            tr
              th Optagelsestid:
              td(itemprop='dateCreated', class='date')
                +formatDate(item.acceptance_time_from, item.acceptance_time_to)
            tr
              th Fremstillingstid:
              td
                +formatDate(item.creation_time_from, item.creation_time_to)

        // Place
        h2 Sted
        table.place
          tbody
            tr
              th Område:
              td
                +addPlace(item, catalog.alias)
            tr
              th Adresse:
              td#address
                - var address = item.address || item.street;
                - var zipcode = item.zipcode;
                - var city = item.city;

                - if(address || zipcode || city)
                  - if(address)
                    | #{address}

                  - if(zipcode)
                    - if(address)
                      | ,
                    | #{zipcode}
                  - if(city)
                    - if(address || zipcode)
                      | ,
                    | #{city}
                - else
                  | -
            if(item.longitude && item.latitude)
              tr
                th Koordinater:
                td= item.latitude.toFixed(5) + ',' + item.longitude.toFixed(5)
              tr
                td(colspan='2')
                  a(href='http://maps.google.dk/maps?ll=' + item.latitude + ',' + item.longitude + '&spn=0.008039,0.015857&t=h&z=16&q=' + item.latitude + ',' + item.longitude, target='blank')
                    img.map(alt='Google Map', src='http://maps.google.dk/maps/api/staticmap?size=800x600&markers=' + item.latitude + ',' + item.longitude + '&sensor=false&scale=2&zoom=14&maptype=terrain')
            tr
              th Noter:
              td= item.locationnote || '-'


        // Technical info
        h2 Tekniske oplysninger
        table
          tbody
            tr
              th Fil-ID:
              td= id || '-'
            tr
              th Størrelse (pixel):
              td
                if item.width_px && item.height_px
                | #{helpers.format_number(item.width_px, 0) || '-'} &times; #{helpers.format_number(item.height_px, 0) || '-'}
            tr
              th Størrelse (cm):
              td
                if item.width_cm && item.height_cm
                | #{helpers.format_number(item.width_cm, 1) || '-'} &times; #{helpers.format_number(item.height_cm, 1) || '-'}
            tr
              th Opløsning (DPI):
              td= helpers.format_number(item.dpi) || '-'
            tr
              th Filstørrelse:
              td= helpers.filesize_mb(item.file_size) || '-'
            tr
              th Rettighedshaver:
              td
                span(itemprop='copyrightHolder')= item.copyright || '-'
            tr
              th Fotograf:
                td
                  span(itemprop='creator')= item.creator || '-'


        // Additional info
        .asset-block
          h2.collapsable-section-header
            - var path = req.path
            a(href='#{path}#additional-info', data-toggle='collapse', data-target='#additional-info').collapsed
              +icon('minus-2-icon')
              +icon('plus-2-icon')
              | Yderligere information

          div#additional-info.collapse
            table
              tbody
                tr
                  th Filnavn:
                  td= item.filename || '-'
                tr
                  th Arkivalie nr.:
                  td= item.archiveno || '-'
                tr
                  th Genstands nr.:
                  td= item.object_number || '-'
                tr
                  th Inventar nr.:
                  td= item.inventory_number || '-'
                tr
                  th Arkivnavn:
                  td= item.archivename ? item.archivename.displaystring : '-'
                tr
                  th Tidsnote:
                  td= item.timenote || '-'

                tr
                  th Topnr.:
                  td= item.topno || '-'
