extends index

block content
  .row.marketing
    h2 Titel

  .row.marketing
    img(src=image, alt='billede', style='max-width: 100%')

  .row.marketing
    h4 Generelle oplysninger
    table(class='table table-striped')
      tr
        td Fil-ID:
        td XXX
      tr
        td Filnavn:
        td= item.filename || '-'
      tr
        td Copyright:
        td= item.copyright || '-'
      tr
        td Fotograf / skaber af mediet:
        td= item.creator || '-'
      tr
        td Licens:
        td= item.license.displaystring || '-'
      tr
        td Vandrette pixels:
        td= item.img_width || '-'
      tr
        td Lodrette pixels:
        td= item.img_height || '-'
      tr
        td Opløsning:
        td= item.dpi || '-'
      tr
        td Årstal:
        td= item.year || '-'
      tr
        td Inventar nr.:
        td= item.assetno || '-'

  .row.marketing
    - if(item.description)
      h4 Beskrivelse
      p= item.description

  .row.marketing
    - if(item.longitude && item.latitude)
        h4 Lokalitet
        .col-md-8.nopadding
            table(class='table table-striped')
                - if(item.locationnote)
                    tr
                       td Lokalitetsnote:
                       td= item.locationnote
                - if(item.longitude && item.latitude)
                    tr
                       td Koordinater:
                       td= item.longitude + ',' + item.latitude
        .col-md-4(style="text-align: center")
              a(href='http://maps.google.dk/maps?ll=' +
                     item.longitude + ',' + item.latitude +
                     '&spn=0.008039,0.015857&t=h&z=16')
                img(alt='Google Map',
                    src='http://maps.google.dk/maps/api/staticmap?size=200x150&markers=' +
                        item.longitude + ',' + item.latitude +
                        '&sensor=false&scale=1&zoom=14&maptype=terrain')
