extends index
include mixins/icon
include mixins/loader
include mixins/meta
include mixins/display-license

append header
  - let title = helpers.documentTitle(metadata);
  - let description = helpers.documentDescription(metadata);
  - let socialThumbnailURL = helpers.getSocialThumbnailURL(metadata);
  +meta(title, description, socialThumbnailURL)

append javascript
  if config.features.geoTagging
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=" + config.googleMapsAPIKey + "&callback=initMap&libraries=geometry,places")

block content
  article.asset(itemscope,
          itemtype='http://schema.org/CreativeWork',
          data-collection=metadata.collection,
          data-id=metadata.id)
    block asset-top
      .asset-top
        .container-fluid
          .row
            .col-xs-12.small-bleed.img-col
              include includes/player
            .col-md-6.map-wrap
              if config.features.geoTagging
                include includes/geotagging
        .container-fluid
          .row.asset-info
            .col-sm-8
              h1= title
              p.lead= description
            .col-sm-4.controls
              include includes/asset-controls
    block asset-middle
      if config.features.motifTagging
        .asset-middle
          .container-fluid.motif-tagging
            include includes/motif-tagging
    block asset-bottom
      .asset-bottom
        .container-fluid
          .row.metadata
            .col-sm-6
              != assetSection('place', metadata)
            .col-sm-6
              != assetSection('time', metadata)
            .clearfix
            .col-sm-6
              != assetSection('additional-information', metadata)
            .col-sm-6
              != assetSection('technical-information', metadata)
          .row
            include includes/relations

  include includes/download-overlay
