extends index

append header
  +assetMeta(metadata, sources)

append javascript
  if(showGeotagging)
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=" + config.googleMapsAPIKey + "&callback=initMap&libraries=geometry,places")

block content

  - var address = metadata.address || metadata.street;
  - var zipcode = metadata.zipcode;
  - var city = metadata.city;
  - var fullAddress = [];

  - if(address)
    - fullAddress.push(address)
  - if(zipcode)
    - fullAddress.push(zipcode)
  - if(city)
    - fullAddress.push(city)
  - fullAddress = fullAddress.join(', ')


  article.asset(itemscope,
          itemtype='http://schema.org/CreativeWork',
          data-catalog=catalog.alias,
          data-id=metadata.id,
          data-latitude=metadata.latitude,
          data-longitude=metadata.longitude,
          data-heading=metadata.heading,
          data-full-address=fullAddress)
    - var city = metadata.city;
    - var description = metadata.description;
    - var filename = metadata.filename.toLowerCase();
    - var license = metadata.license && helpers.licenseTag(metadata.license.id);
    - var title = metadata.short_title;
    - var zipcode = metadata.zipcode;
    - if (metadata.width_px > 768) { zoom = true };
    .asset-top
      .container-fluid
        .row
          .col-xs-12.small-bleed.img-col
            if(player === 'image-single' || player === 'image-single-animated')
              img(src=sources.thumbnail, data-src=sources.image, alt=title, class="#{zoom===true ? 'asset-image--zoomable' : ''}").asset-image
            else if(player === "image-rotation")
              .rotation-wrapper
                picture(alt=title)
                  source(srcset=sources.imageSet['2000'], media='(min-width: 1200px)')
                  source(srcset=sources.imageSet['1200'], media='(min-width: 800px)')
                  source(srcset=sources.imageSet['800'], media='(min-width: 400px)')
                  source(srcset=sources.imageSet['400'], media='(max-width: 400px)')
                  a.Magic360(data-magic360-options=helpers.magic360Options(sources.imageRotationSet))
                    img(src=sources.image, alt=title)
            else if(player === "audio")
              audio(controls)
                source(src=sources.audio)
            else if(player === "video")
              video(width="100%", controls)
                source(src=sources.video, type="video/mp4")
          .col-md-6.map-wrap
            if showGeotagging
              include includes/geotagging.jade
      .container-fluid
        .row.asset-info
          .col-sm-8
            if(title)
              h1= title
              if(description)
                p.sr-only Beskrivelse
                p.lead= description
            else if(description)
              p.sr-only Beskrivelse
              h1= description
              
          .col-sm-4.social
            if(player === 'image-single' || player === 'image-single-animated')
              if (zoom)
                a(data-action="asset-image-size-toggle")
                  +icon('zoom-in')
            a(data-action="asset-download-show", class="#{downloadable===true ? '' : 'dimmed'}")
              +icon('download')
            a(href="javascript:fbshareCurrentPage()", target="_blank", alt="Del på Facebook")
              +icon('facebook')
            a(href="javascript:twittershareCurrentPage()", target="_blank", alt="Del på Twitter")
              +icon('twitter')
            //- a
            //-   +icon('email')
            

    .asset-middle
      .container-fluid
        .row
          .col-md-4
            // Tags
            h2 Emneord
            .tags-container
              if(!metadata.tags)
                span.no-tags Der er ingen emneord endnu.
              each tag in metadata.tags || []
                +tag(tag)

          .col-md-4
            // User tags
            b Tilføjet af brugere
            .tags-container.crowd
              if(!metadata.tags_crowd)
                span.no-tags Der er ikke tilføjet nogle emneord endnu.

              each tag in metadata.tags_crowd || []
                +tag(tag)
              .material-input
                input(type='text', required='')
                span.bar
                label Indtast nyt emneord og tryk enter
              .btn.btn-primary.btn-small#crowd-btn Tilføj emneord
              .btn.btn-link.btn-small.hidden#stop-crowd-btn Afslut

          .col-md-4
            // Vision tags
            b Automatisk billedanalyse
            .tags-container.vision
              if(!metadata.tags_vision || metadata.tags_vision.length === 0)
                .btn.btn-primary.btn-small#vision-btn
                  +loader('Analysér billede')
              each tag in metadata.tags_vision || []
                +tag(tag)
                  span.add-tag
                    +icon('thumbup')

    .asset-bottom
      .container-fluid
        .row
          != assetLayout(metadata)

          if relatedAssets && relatedAssets.length > 0
            .col-xs-12
              h2 Relaterede billeder
              .related-assets
                .related-assets__next-arrow 
                  +icon('chevron-right')
                .related-assets__prev-arrow
                  +icon('chevron-right')
                .slider
                  each asset in relatedAssets
                    a(href=asset.href)
                      img(data-lazy="#{asset.src}")


  .overlay__container(data-content="asset-download")
    .overlay__content 
      if (downloadable)
        h2 Download
        if(player === 'image-single')
          a.btn.btn-primary(href='#{sources.imageSet.download800.src}') 
            | Lille (#{sources.imageSet.download800.size} jpg)
          a.btn.btn-primary(href='#{sources.imageSet.download1200.src}')
            | Mellem (#{sources.imageSet.download1200.size} jpg)
          a.btn.btn-primary(href='#{sources.imageSet.download2000.src}')
            | Stor (#{sources.imageSet.download2000.size} jpg)
          a.btn.btn-primary(href='#{sources.imageSet.downloadOriginal.src}')
            | Original (#{metadata.width_px} x #{metadata.height_px} jpg)
        if(filename.match('.tif$') || filename.match('.tiff$'))
          a.btn.btn-primary(href='#{sources.download}') 
            | Original (#{metadata.width_px} x #{metadata.height_px} tif)
        if(player === 'image-single-animated')
          a.btn.btn-primary(href='#{sources.download}')
            | Original (#{metadata.width_px} x #{metadata.height_px} gif)
        if (license)
          a(href=license.url, rel='license', target='_blank')
            img(src=license.img, alt=license.short)
        else
          p No known rights
      else
        h2 Vi beklager
        p Billedet er ophavsretligt beskyttet og kan derfor ikke downloades uden forudgående aftale med fotografen.

 
  .facebook-group
    h2 Tusind tak for din hjælp!
    p Hvis du synes det er spændende at bidrage til Nationalmuseets samlinger, så følg med i facebookgruppen&nbsp;
      a(href="https://www.facebook.com/groups/1002729026439527/") Crowdsourcing af Nationalmuseets Samlinger.
    br
    p Dette er første og sidste gang vi forstyrrer dig. Skjul denne besked ved at&nbsp;
      a(href="").ok trykke her.
