extends index
include mixins/icon
include mixins/loader
include mixins/meta
include mixins/tag
include mixins/display-license

append header
  - let title = helpers.documentTitle(metadata);
  - let description = helpers.documentDescription(metadata);
  - let thumbnailUrl = helpers.getThumbnailURL(metadata);
  +meta(title, description, thumbnailUrl)

append javascript
  if(showGeotagging)
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=" + config.googleMapsAPIKey + "&callback=initMap&libraries=geometry,places")

block content
  - var address = metadata.location.address;
  - var zipcode = metadata.location.zipcode;
  - var city = metadata.location.city;
  - var fullAddress = [];

  - if(address)
    - fullAddress.push(address)
  - if(zipcode)
    - fullAddress.push(zipcode)
  - if(city)
    - fullAddress.push(city)
  - fullAddress = fullAddress.join(', ')

  - var file_format = metadata.file_format;

  article.asset(itemscope,
          itemtype='http://schema.org/CreativeWork',
          data-catalog=metadata.collection,
          data-id=metadata.id,
          data-latitude=metadata.location.verified.latitude || metadata.location.crowd.latitude,
          data-longitude=metadata.location.verified.longitude || metadata.location.crowd.longitude,
          data-heading=metadata.heading,
          data-full-address=fullAddress)
    .asset-top
      .container-fluid.container-fluid-expandable
        .row
          .col-xs-12.small-bleed.img-col
            include includes/player
          .col-md-6.map-wrap
            if showGeotagging
              include includes/geotagging
      .container-fluid
        .row.asset-info
          .col-sm-8
            h1= title
            p.lead= description
          .col-sm-4.social
            if(player === 'image-single' || player === 'image-single-animated')
              if (zoom)
                a(data-action="asset-image-size-toggle")
                  +icon('zoom-in')
            a(data-action="asset-download-show", class=downloadable===true ? '' : 'dimmed')
              +icon('download')
            a(href="javascript:fbshareCurrentPage()", target="_blank", alt="Del på Facebook")
              +icon('facebook')
            a(href="javascript:twittershareCurrentPage()", target="_blank", alt="Del på Twitter")
              +icon('twitter')

    .asset-middle
      .container-fluid
        .row
          .col-md-4
            // Tags
            h2 Emneord
            .tags-container
              if(!metadata.tags.verified.all.length === 0)
                span.no-tags Der er ingen emneord endnu.
              each tag in metadata.tags.verified.all || []
                +tag(tag)

          .col-md-4
            // User tags
            b Tilføjet af brugere
            .tags-container.crowd
              if(!metadata.tags.crowd || metadata.tags.crowd.length === 0)
                span.no-tags Der er ikke tilføjet nogle emneord endnu.

              each tag in metadata.tags.crowd || []
                +tag(tag)
              .material-input
                input(type='text', required='')
                span.bar
                label Indtast nyt emneord og tryk enter
              .btn.btn-primary.btn-small#crowd-btn Tilføj emneord
              .btn.btn-link.btn-small.hidden#stop-crowd-btn Afslut

          .col-md-4
            // Vision tags
            b Automatisk billedanalyse
            .tags-container.vision
              if(!metadata.tags.automated || metadata.tags.automated.length === 0)
                .btn.btn-primary.btn-small#vision-btn
                  +loader('Analysér billede')
              each tag in metadata.tags.automated || []
                +tag(tag)
                  span.add-tag
                    +icon('thumbup')

    .asset-bottom
      .container-fluid
        .row.metadata
          .col-sm-6
            != assetSection('place', metadata)
          .col-sm-6
            != assetSection('time', metadata)
          .clearfix
          .col-sm-6
            != assetSection('additional-information', metadata)
          .col-sm-6
            != assetSection('technical-information', metadata)
        .row
          include includes/relations


  .overlay__container(data-content="asset-download")
    .overlay__content
      if (downloadable)
        h2 Download
        if(player === 'image-single')
          each option in helpers.getDownloadOptions(metadata)
            a.btn.btn-primary(href=option.href)
              = option.label
        +displayLicense(metadata.license)
      else
        h2 Vi beklager
        p Billedet er ophavsretligt beskyttet og kan derfor ikke downloades uden forudgående aftale med fotografen.


  .facebook-group
    h2 Tusind tak for din hjælp!
    p Hvis du synes det er spændende at bidrage til Nationalmuseets samlinger, så følg med i facebookgruppen&nbsp;
      a(href="https://www.facebook.com/groups/1002729026439527/") Crowdsourcing af Nationalmuseets Samlinger.
    br
    p Dette er første og sidste gang vi forstyrrer dig. Skjul denne besked ved at&nbsp;
      a(href="").ok trykke her.
