extends index

append header
  title= item.short_title
  +shareThisJS()


mixin formatDate(from, to)
  - if(from && to && from.day == 1 && from.month == 1 && to.day == 31 && to.month == 12 && from.year == to.year)
    | #{from.year}
  - else
    - if(from)
      | #{from.day}/#{from.month}/#{from.year}
    - if((from && to) || (!from && !to))
      |  -
    - if(to)
      | #{to.day}/#{to.month}/#{to.year}


block content
  div(itemscope, itemtype='http://schema.org/CreativeWork', class='asset')
    - var title = item.short_title || 'Ingen titel'
    .row.bleed.asset-image
      +responsiveImage(title)
    .row
      .col-xs-8= catalog.name
      .col-xs-4
        .pull-right
          +shareThisHTML()
        a(href='#{image_src_set["1200"]}').pull-right
          span.glyphicon.glyphicon-download-alt

    .col-xs-12
      h1(itemprop='name')= title

    .col-xs-12
      - if(item.description)
        h2.sr-only Beskrivelse
        p(itemprop='description',
          class='lead')= item.description

      table(class='table table-striped')
        tbody
          tr
            th Licens:
            td
              - if(item.license)
                - var license = helpers.license_tag(item.license.id);
                - if(license)
                  a(href=license.url, rel='license', target='_blank')
                    img(src=license.img, alt='Creative Commons licens')
                - else
                  | #{item.license.displaystring}
              - else
                | -
          tr
            th Rettighedshaver og fotograf:
            td
              span(itemprop='copyrightHolder')= item.copyright || '-'
              | , 
              span(itemprop='creator')= item.creator || '-'

    .col-xs-12.col-sm-6
      h2 Tidsperiode og årstal
      table(class='table table-striped')
        tbody
          - if(item.year)
            tr
              td(colspan='2')= item.year
          tr
            th Optagelsestid:
            td(itemprop='dateCreated', class='date')
              +formatDate(item.acceptance_time_from, item.acceptance_time_to)
          tr
            th Fremstillingstid:
            td
              +formatDate(item.creation_time_from, item.creation_time_to)

    .col-xs-12.col-sm-6
      h2 Sted
      - var has_coordinates = item.longitude && item.latitude;
      table(class='table table-striped')
        tbody
          - if (item.place)
            tr
              td(colspan='2')= item.place
          tr
            th Adresse:
            td
              - var address = item.address || item.street;
              - var zipcode = item.zipcode;
              - var city = item.city;

              - if(address || zipcode || city)
                - if(address)
                  | #{address}

                - if(zipcode)
                  - if(address)
                    | ,
                  | #{zipcode}
                - if(city)
                  - if(address || zipcode)
                    | ,
                  | #{city}
              - else
                | -
          tr
            th Koordinater:
            td= has_coordinates ? item.longitude.toFixed(5) + ',' + item.latitude.toFixed(5) : '-'
          tr
            th Lokalitetsnote:
            td= item.locationnote || '-'

      - if(has_coordinates)
        div
          a(href='http://maps.google.dk/maps?ll=' +
                 item.longitude + ',' + item.latitude +
                 '&spn=0.008039,0.015857&t=h&z=16',
                  target='blank')
            img(alt='Google Map',
                src='http://maps.google.dk/maps/api/staticmap?size=200x150&markers=' +
                    item.longitude + ',' + item.latitude +
                    '&sensor=false&scale=1&zoom=14&maptype=terrain')
    .col-xs-12.col-sm-6
      h2 Tekniske oplysninger
      table(class='table table-striped')
        tbody
          tr
            th Fil-ID:
            td= id || '-'
          tr
            th Størrelse (pixel):
            td
              | (b) #{item.img_width.toFixed(3) || '-'}, (h) #{item.img_height.toFixed(3) || '-'}
          tr
            th Opløsning (DPI):
            td= item.dpi || '-'

    .col-xs-12.col-sm-6
      h2.additional-info-header
        - var path = req.path
        a(href='#{path}#additional-info', data-toggle='collapse', data-target='#additional-info').collapsed Yderligere information
          span.glyphicon.glyphicon-chevron-up.pull-right
          span.glyphicon.glyphicon-chevron-down.pull-right

      div#additional-info.collapse
        table(class='table table-striped')
          tbody
            tr
              th Filnavn:
              td= item.filename || '-'
            tr
              th Arkivalienr.:
              td= item.archiveno || '-'
            tr
              th Genstandsnr.:
              td= item.unitno || '-'
            tr
              th Arkivnavn:
              td= item.archivename ? item.archivename.displaystring : '-'
            tr
              th Tidsnote:
              td= item.timenote || '-'

            tr
              th Topnr.:
              td= item.topno || '-'

