extends index
include mixins/icon
include mixins/loader
include mixins/meta
include mixins/display-license

append header
  - let title = helpers.documentTitle(metadata);
  - let description = helpers.documentDescription(metadata);
  - let socialThumbnailURL = helpers.getSocialThumbnailURL(metadata);
  +meta(title, description, socialThumbnailURL)

append javascript
  if config.features.geoTagging
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=" + config.googleMapsAPIKey + "&callback=initMap&libraries=geometry,places")

block content
  section.document.let-it-grow(
      itemscope,
      itemtype='http://schema.org/CreativeWork',
      data-collection=metadata.collection,
      data-id=metadata.id
    )
    block document__top
      .document__top.document__expandable
        .container-fluid
          .row
            block document__player
              if config.features.geoTagging
                .document__geo-tagging.col-xs-12.col-md-7
                  include includes/geo-tagging
                  .document__player-controls
                    include includes/player-controls
              else
                .document__player.col-xs-12.col-sm-7
                  include includes/player
                  .document__player-controls
                    include includes/player-controls
            block document__top-metadata
              .document__top-metadata.col-xs-12.col-md-5
                h1.document__title= title
                p.document__description= description
    block document__middle
      - // Empty - but use the .document__middle here
    block document__bottom
      .document__bottom
        .container-fluid
          block document__bottom-metadata
          .row
            include includes/relations
  include includes/navigator
  block document__overlays
