doctype html
html(lang='da').no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='initial-scale=1.0')
    //- Prevents dates in filtering from being converted to phone numbers on iOS
    meta(name="format-detection", content="telephone=no")
    meta(name='theme-color' content=config.themeColor)
    meta(name="apple-mobile-web-app-title", content=config.appName)
    meta(name="application-name", content=config.appName)
    meta(name="msapplication-TileColor", content=config.themeColor)

    meta(name="msapplication-TileImage", content="/images/favicons/mstile-144x144.png")
    link(rel="apple-touch-icon", href="/images/favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="/images/favicons/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/images/favicons/favicon-194x194.png", sizes="194x194")
    link(rel="icon", type="image/png", href="/images/favicons/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/images/favicons/android-chrome-192x192.png", sizes="192x192")
    link(rel="icon", type="image/png", href="/images/favicons/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/images/favicons/manifest.json")
    link(rel="mask-icon", href="/images/favicons/safari-pinned-tab.svg", color=config.themeColor)

    link(rel='stylesheet', href='/styles/main.css')
    block header
    include includes/analytics

  body
    include includes/menu

    div.main-wrapper
      include includes/topbar
      block before-content
      block content

    include includes/translate
    include includes/scripts
    block javascript
