mixin assetMeta(item, sources)
  if item.short_title
    - title = item.short_title
  else
    - title = 'Ingen titel'
  if item.description
    - description = item.description
  if sources.image
    - image = sources.image

  +meta(title,socialTitle,image,description)

mixin searchMeta(results, catalog, breadcrumbs)
  if results.is_search
    - title = filters.freetext
    - socialTitle = 'Søgning på "' + title + '"'

  if results.is_category
    if breadcrumbs
      - title = breadcrumbs.last.name
    else
      - title = catalog.name
  if results.is_catalog
    - title = catalog.name

  +meta(title,socialTitle)

mixin meta(title,socialTitle,image,description)
  - siteTitle = req.app.get('siteTitle')
  - baseUrl = 'https://' + (req.get('x-forwarded-host') || req.get('host'))
  - unsafeBaseUrl = 'http://' + (req.get('x-forwarded-host') || req.get('host'))
  - pageUrl = baseUrl + req.originalUrl
  - twitter = '@Nationalmuseet'
  - twitterCard = 'summary_large_image'
  - facebook = 'nationalmuseet'
  - facebookType = 'website'
  - youtube = 'natmusdk'

  if title
    - title += ' - ' + siteTitle
  else
    - title = siteTitle

  if socialTitle
    - socialTitle += ' - ' + siteTitle
  else
    - socialTitle = title

  if !description
    - description = 'Søg og udforsk Nationalmuseets Samlinger Online'
    - description += ', hvor du finder mange former for kulturhistoriske fotos.'

  if image
    - image = unsafeBaseUrl + image
  else
    - image = unsafeBaseUrl + '/images/defaultshare.jpg'

  title #{title}
  meta(name='description', content='#{description}')
  meta(name='twitter:card', content='#{twitterCard}')
  meta(name='twitter:site', content='#{twitter}')
  meta(name='twitter:title', content='#{socialTitle}')
  meta(name='twitter:description', content='#{description}')
  meta(name='twitter:image', content='#{image}')
  meta(property='og:title', content='#{socialTitle}')
  meta(property='og:type', content='#{facebookType}')
  meta(property='og:url', content='#{pageUrl}')
  meta(property='og:image', content='#{image}')
  meta(property='og:description', content='#{description}')
  meta(property='og:site_name', content='#{title}')
mixin loader(text)
  if text
    span.text #{text}
  .loader
  .loader.one
  .loader.two

mixin searchCount
  span.search-count #{results.total_results} poster

mixin recursiveCategoryItem(catalog, category)
  if category.count > 0
    li
      div
        a.col-xs-10(href='/#{catalog.alias}?cat=#{category.id}') #{category.name}
          span #{category.count}
        if category.children.length > 0
          .expand
            +icon('icon-plus-minus')
      if category.children.length > 0
        ul.nav.menu-hidden
          each childCategory in category.children
            +recursiveCategoryItem(catalog, childCategory)

mixin icon(id)
  case id
    when 'pencil-icon'
      svg.pencil-icon
        use(xlink:href='#icon-pencil')
    when 'icon-menu'
      svg
        use(xlink:href='#icon-menu')
    when 'icon-logo'
      svg
        use(xlink:href='#icon-logo')
    when 'icon-thumbup'
      svg
        use(xlink:href='#icon-thumbup')
    when 'icon-download'
      svg
        use(xlink:href='#icon-download')
    when 'icon-share'
      svg
        use(xlink:href='#icon-share')
    when 'icon-plus-minus'
      svg
        use(xlink:href='#icon-plus')
    when 'icon-minus'
      svg.icon-minus
        use(xlink:href='#icon-minus')
    when 'icon-plus'
      svg.icon-plus
        use(xlink:href='#icon-plus')
    when 'icon-facebook'
      svg
        use(xlink:href='#icon-facebook')
    when 'icon-twitter'
      svg
        use(xlink:href='#icon-twitter')
    when 'icon-youtube'
      svg
        use(xlink:href='#icon-youtube')
    when 'icon-search'
      svg
        use(xlink:href='#icon-search')
    default
      span #{id} is not a valid icon ID

mixin shareThisHTML()
  .btn-group.dropup
    a(data-toggle='dropdown', data-target='#', href='./').dropdown-toggle.btn.btn-primary Del
      +icon('icon-share')
    ul.dropdown-menu(role='menu')
      li.st_facebook(displayText='Facebook')
      li.divider
      li.st_twitter(displayText='Twitter')
      li.divider
      li.st_pinterest(displayText='Pinterest')
      li.divider
      li.st_email(displayText='Email')

mixin shareThisJS()
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "1151a286-82a8-4988-9f00-6de37128d9d6", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

mixin formatDate(from, to)
  if(from && to && from.day == to.day && from.month == to.month && from.day == to.day)
    | #{from.day}/#{from.month}/#{from.year}
  else
    if(from && to && from.day == 1 && from.month == 1 && to.day == 31 && to.month == 12 && from.year == to.year)
      | #{from.year}
    else
      if(from)
        | #{from.day}/#{from.month}/#{from.year}
      if((from && to) || (!from && !to))
        |  - 
      if(to)
        | #{to.day}/#{to.month}/#{to.year}

mixin searchResultAsset(asset)
  div(class='col-lg-3 box')
    .thumbnail
      a(href='#{asset.url}')
        if asset.type == 'video'
          div.video-thumbnail
            div.icon
        else
          div.image
            div.overlay
              img(src='#{asset.thumbnail_url}')
              if asset.type == 'image-rotation'
                img(src="/images/rotation-icon.svg", class="rotation-icon")
        if asset.title
          h2.h4 #{asset.title}
        else
          h2(class='h4') Ingen titel
        p.description #{asset.description}
      p.cat-link
        a(href='#{asset.catalog_url}') #{asset.catalog}

mixin tag(name)
  a.btn.btn-default.btn-small(
    href='/?q='+encodeURIComponent(name),
    data-tag=name
  )= name
    if block
      block
