mixin assetMeta(item, sources)
  if item.short_title
    - title = item.short_title
  else
    - title = 'Ingen titel'
  if item.description
    - description = item.description
  if sources.image
    - image = sources.image

  +meta(title,socialTitle,image,description)

mixin searchMeta(results, catalog, breadcrumbs)
  if results.is_search
    - title = filters.freetext
    - socialTitle = 'Søgning på "' + title + '"'

  if results.is_category
    if breadcrumbs
      - title = breadcrumbs.last.name
    else
      - title = catalog.name
  if results.is_catalog
    - title = catalog.name

  +meta(title,socialTitle)

mixin meta(title,socialTitle,image,description)
  - siteTitle = req.app.get('siteTitle')
  - baseUrl = 'https://' + (req.get('x-forwarded-host') || req.get('host'))
  - unsafeBaseUrl = 'http://' + (req.get('x-forwarded-host') || req.get('host'))
  - pageUrl = baseUrl + req.originalUrl
  - twitter = '@Nationalmuseet'
  - twitterCard = 'summary_large_image'
  - facebook = 'nationalmuseet'
  - facebookType = 'website'
  - youtube = 'natmusdk'

  if title
    - title += ' - ' + siteTitle
  else
    - title = siteTitle

  if socialTitle
    - socialTitle += ' - ' + siteTitle
  else
    - socialTitle = title

  if !description
    - description = 'Søg og udforsk Nationalmuseets Samlinger Online'
    - description += ', hvor du finder mange former for kulturhistoriske fotos.'

  if image
    - image = unsafeBaseUrl + image
  else
    - image = unsafeBaseUrl + '/images/defaultshare.jpg'

  title #{title}
  meta(name='description', content='#{description}')
  meta(name='twitter:card', content='#{twitterCard}')
  meta(name='twitter:site', content='#{twitter}')
  meta(name='twitter:title', content='#{socialTitle}')
  meta(name='twitter:description', content='#{description}')
  meta(name='twitter:image', content='#{image}')
  meta(property='og:title', content='#{socialTitle}')
  meta(property='og:type', content='#{facebookType}')
  meta(property='og:url', content='#{pageUrl}')
  meta(property='og:image', content='#{image}')
  meta(property='og:description', content='#{description}')
  meta(property='og:site_name', content='#{title}')

mixin loader(text)
  if text
    span.text #{text}
  .loader
  .loader.one
  .loader.two

mixin searchCount
  span.search-count &nbsp;#{results.total_results} poster

mixin recursiveCategoryItem(catalog, category)
  if category.count > 0
    li
      div
        a.col-xs-10(href='/#{catalog.alias}?cat=#{category.id}') #{category.name}
          span #{category.count}
        if category.children.length > 0
          .expand
            +icon('plus')
      if category.children.length > 0
        ul.nav.menu-hidden
          each childCategory in category.children
            +recursiveCategoryItem(catalog, childCategory)

mixin searchResultAsset(asset)
  div(class='col-lg-3 box')
    .thumbnail
      a(href='#{asset.url}')
        if asset.type == 'video'
          div.video-thumbnail
            div.icon
        else
          div.image
            div.overlay
              img(src='#{asset.thumbnail_url}').rotation
              if asset.type == 'image-rotation'
                +icon('rotation')
        if asset.title
          h2.h4 #{asset.title}
        else
          h2(class='h4') Ingen titel
        p.description #{asset.description}
      p.cat-link
        a(href='#{asset.catalog_url}') #{asset.catalog}

mixin icon(id)
  svg
    use(xlink:href='#icon-#{id}')

mixin formatDate(from, to)
  if(from && to && from.day == to.day && from.month == to.month && from.day == to.day)
    | #{from.day}/#{from.month}/#{from.year}
  else
    if(from && to && from.day == 1 && from.month == 1 && to.day == 31 && to.month == 12 && from.year == to.year)
      | #{from.year}
    else
      if(from)
        | #{from.day}/#{from.month}/#{from.year}
      if((from && to) || (!from && !to))
        |  - 
      if(to)
        | #{to.day}/#{to.month}/#{to.year}


mixin tag(name)
  a.btn.btn-default.btn-small(
    href='/?q='+encodeURIComponent(name),
    data-tag=name
  )= name
    if block
      block
