extends index

append header
  - siteTitle = req.app.get('site_title');
  if object.title
    title= object.title + ' - ' + siteTitle
  else
    title= 'Ingen titel - ' + siteTitle

  +shareThisJS()

block content
  article(itemscope, itemtype='http://schema.org/CreativeWork', class='asset')
    - var title = object.title || 'Ingen titel'
    .row
      .col-md-6.col-xs-12.pull-right.text-row
        p.collection Fra samlingen #{object.collection}

        // Title
        header
          h1(itemprop='name')= title

        // Description
        - if(object.description)
          h2.sr-only Beskrivelse
          h2(itemprop='description', class='lead') #{object.description}

        h2 Yderligere oplysninger
        table
          tbody
            each field in object.metadata
              tr
                th= field.name + ':'
                td= field.value || '-'
      
      .col-md-6.col-xs-12.image-row
        p Intet billede tilgængeligt