extends index

append header
  if results.is_search || results.is_front || results.is_category || results.is_catalog
    +searchMeta(results, catalog, breadcrumbs)
    
block before-content
  if !results.is_front
    include filtering

block content
  section.section-wrapper
    if results.is_front
      include includes/frontpage-slider

    .clearfix

    if results.is_search
      h1.page-header Søgning på "#{filters.freetext}"
        +searchCount
    if results.is_front
      h1.page-header Alle samlinger
        +searchCount
    if results.is_category
      h1.page-header
        a.breadcrumbs-link.dark(href='/#{catalog.alias}') #{catalog.name}
        if breadcrumbs
          if breadcrumbs.second
            | &nbsp; &gt; &nbsp;
            a.breadcrumbs-link(href='/#{catalog.alias}?cat=#{breadcrumbs.first.id}') #{breadcrumbs.first.name}
            | &nbsp; &gt; &nbsp;
            span #{breadcrumbs.second.name}
              +searchCount
          else if breadcrumbs.first
            | &nbsp; &gt; &nbsp;
            span #{breadcrumbs.first.name}
              +searchCount
        else
          | &nbsp; &gt; Ingen titel

    if results.is_catalog
      h1.page-header #{catalog.name}
        +searchCount

    .search-results.row(id="masonry-container")
      each result in results.results
        +searchResultAsset(result)

  .clearfix
  
  #page-nav
    a(href='#{infinitepath}')

  if(results.total_results_raw > 10)
    button.btn.btn-primary.btn-lg.load-more(data-action="load-more")
      +loader('Vis flere...')


block after-footer
  a#toTop
    +icon('scrolltotop')

append javascript
  script.
    $(function() {
      $('#toTop').scrollToTop(400);
      // To ensure no boxes are hidden if the was some load error
      $('.loaded-more').removeClass('loaded-more');
    });
  if results.is_front
    script.
      $(window).load(function() {
         $('.slider').flexslider({
          animation: "slide",
          controlNav: false,
          start: function(slider) {
            $(window).trigger('resize');
          }
        });
      });
