extends index

include frontpage-slider

append header
  if results.is_search || results.is_front || results.is_category || results.is_catalog
    +searchMeta(results, catalog, breadcrumbs)
    
block before-content
  if !results.is_front
    .container
      include filtering

block content
  section.section-wrapper
    if results.is_front
      +FrontPageSlider()

    .clearfix

    if results.is_search
      h1.page-header Søgning på "#{filters.freetext}" (#{results.total_results} poster)
    if results.is_front
      h1.page-header Alle samlinger (#{results.total_results} poster)
    if results.is_category
      h1.page-header
        a.breadcrumbs-link.dark(href='/#{catalog.alias}') #{catalog.name}
        if breadcrumbs
          if breadcrumbs.second
            | &nbsp; &gt; &nbsp;
            a.breadcrumbs-link(href='/#{catalog.alias}?cat=#{breadcrumbs.first.id}') #{breadcrumbs.first.name}
            | &nbsp; &gt; &nbsp;
            a.breadcrumbs-link(href='/#{catalog.alias}?cat=#{breadcrumbs.second.id}') #{breadcrumbs.second.name} (#{results.total_results} poster)
          else if breadcrumbs.first
            | &nbsp; &gt; &nbsp;
            a.breadcrumbs-link(href='/#{catalog.alias}?cat=#{breadcrumbs.first.id}') #{breadcrumbs.first.name} (#{results.total_results} poster)
        else
          | &nbsp; &gt; Ingen titel

    if results.is_catalog
      h1.page-header
        a.breadcrumbs-link.dark(href='/#{catalog.alias}') #{catalog.name} (#{results.total_results} poster)

    div(id="masonry-container" class="search-results")
      each result in results.results
        +searchResultAsset(result)
  div(id='page-nav')
    a(href='#{infinitepath}')

  - if(results.total_results_raw > 10)
    div(style="width: 100%; text-align: center; margin: 30px auto; display:block; clear:both; height:44px;")
      a.btn.btn-default.btn-lg(role="button",id="more", style="padding: 10px 60px")
        | Vis flere...


  .clearfix

append javascript
  script.
      $(window).load(function() {
         $('.slider').flexslider({
          animation: "slide",
          controlNav: false,
          start: function(slider) {
            $(window).trigger('resize');
          }
        });
      });
