extends index

//- mixin paging
//-   ul(class="pagination pull-right")
//-     - each page in pagination
//-       li(class=(page*page_size == parseInt(req.param('offset') || '0') ? 'active' : ''))
//-         a(href=req.path + '?' + helpers.query_string({offset: page*page_size, q: req.param('q')}))= page+1

append header
  title Søg

block content
  section(role='main')
    h1.page-header.sr-only Søgeresultat
    div(class='search-results', infinite-scroll='search()')#masonry-container
      - each result in results
        .col-xs-12.col-sm-6.col-md-4.col-lg-3
          - var title = result.short_title
          - var href = helpers.asset_url(result)
          a(href=href, class='thumbnail')
            img(src=helpers.thumbnail_url(result), alt='#{title}')
            h2.h4 #{title}
            p= result.description || ''

  .clearfix

    //- +paging()

    //- .clearfix


