extends index

mixin paging
  ul(class="pagination pull-right")
    - each page in pagination
      li(class=(page*50 == parseInt(req.param('offset') || '0') ? 'active' : ''))
        a(href=req.path + '?' + helpers.query_string({offset: page*50, q: req.param('q')}))= page+1

block header
  style.
    .search-result {

    }
    .result-item {
      margin: 0 10px 10px 0;
      height: 150px;
      width: 150px;
      overflow: hidden;
    }

block content
  form(action=req.path)
    .form-group
      .input-group
        input(type='text', class='form-control', placeholder='Søg', name='q'
              value=req.param('q') || nothing)
        .input-group-btn
          button(type="submit", class="btn btn-default")
            span Søg

  .search-result
    - each result in results
      .result-item.pull-left
        a(href=helpers.asset_url(result))
          img(src=helpers.thumbnail_url(result), alt='billede')

  .clearfix

  +paging()

  .clearfix


