extends index

include frontpage-slider

append header
  if results.is_search || results.is_front || results.is_category || results.is_catalog
    +searchMeta(results, metadata)

block content
  section.section-wrapper
    if results.is_front
      +FrontPageSlider()

    .clearfix

    if results.is_search
      h1.page-header Søgning på "#{freetext}" (#{results.total_results} poster)
    if results.is_front
      h1.page-header Alle samlinger (#{results.total_results} poster)
    if results.is_category
      h1.page-header
        a.breadcrumbs-link.dark(href='/#{metadata.alias}') #{metadata.name}
        if metadata.breadcrumbs
          if metadata.breadcrumbs.second
            | &nbsp; &gt; &nbsp;
            a.breadcrumbs-link(href='/#{metadata.alias}?cat=#{metadata.breadcrumbs.first.id}') #{metadata.breadcrumbs.first.name}
            | &nbsp; &gt; &nbsp;
            a.breadcrumbs-link(href='/#{metadata.alias}?cat=#{metadata.breadcrumbs.second.id}') #{metadata.breadcrumbs.second.name} (#{results.total_results} poster)
          else if metadata.breadcrumbs.first
            | &nbsp; &gt; &nbsp;
            a.breadcrumbs-link(href='/#{metadata.alias}?cat=#{metadata.breadcrumbs.first.id}') #{metadata.breadcrumbs.first.name} (#{results.total_results} poster)
        else
          | &nbsp; &gt; Ingen titel

    if results.is_catalog
      h1.page-header
        a.breadcrumbs-link.dark(href='/#{metadata.alias}') #{metadata.name} (#{results.total_results} poster)

    div(id="masonry-container" class="search-results")
      each result in results.results
        div(class='col-lg-3 box')
          .thumbnail
            a(href='#{result.url}')
              if result.title
                img(src='#{result.thumbnail_url}')
                h2.h4 #{result.title}
              else
                img(src='#{result.thumbnail_url}')
                h2(class='h4') Ingen titel
              p.description #{result.description}
            p.cat-link
              a(href='#{result.catalog_url}') #{result.catalog}
  div(id='page-nav')
    a(href='#{infinitepath}')

  - if(results.total_results_raw > 10)
    div(style="width: 100%; text-align: center; margin: 30px auto")
      a.btn.btn-default.btn-lg(role="button",id="more", style="padding: 10px 60px")
        | Vis mere


  .clearfix

append javascript
  script.
      $(window).load(function() {
         $('.slider').flexslider({
          animation: "slide"
        });
      });