header.topbar
  .container
    nav
      .topbar-items
        .logo
          a(href='/')
            +icon('icon-logo')
        .logo-text.hidden-sm.hidden-xs
          span Nationalmuseets
          span Samlinger Online
        - var path = (req.path).split('/')
        form.search-box(method='get', action='/')
          .input-group
            input.form-control(
              type='text',
              id='search-input',
              placeholder='Søg på samlinger.natmus.dk',
              name='q',
              autocomplete="off",
              value=req.param('q'))
            span.input-group-btn
              button.btn-search
                span.sr-only Søg
                +icon('icon-search')
        a(href='#')#heading-categories-menu
          span.sr-only Kataloger og kategorier
          +icon('icon-menu')
