mixin analytics
  script.
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2930791-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

mixin head
  base(href='/')

  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width')

  link(rel='stylesheet', href='styles/main.css')

mixin header
  header
    .header
      h2.small
        a
          | Nationalmuseet
          span.caret &nbsp;
      hgroup.hidden
        ul.nav.nav-pills
          li
            a(href="#") Hjælp
          li
            a(href="#") Kontakt

mixin footer
  footer
    .footer
      address
        | Nationalmuseet<br>Prinsens Palæ<br>Ny Vestergade 10<br>DK-1471 København K<br>Tel. +45 3313 4411

      h2 Følg os på:
      ul
        each val in ['Facebook', 'Twitter', 'YouTube']
          li= val

mixin samlingerHeader()
  .container
    .col-xs-10
      +searchBox()
    .col-xs-2
      +navigation()



mixin searchBox()
  - var path = (req.path).split('/')
  .form-group
      div(class='input-group')
        input(type='text', class='form-control', placeholder='Søg', name='q',
              autocomplete="off", ng-model='q',
              typeahead='term as term.text for term in suggestions')
        .input-group-btn
          button(type="submit", class="btn btn-default", ng-click='doSearch()') Søg

mixin categories()
  script(type="text/ng-template" id="categories.html")
    {{category.name}}
    ul
      li(ng-repeat="category in category.children", ng-include="'categories.html'")

mixin navigation()
  //+categories()
  nav.categories-menu.dropdown.pull-right
    h2(data-toggle='dropdown')#heading-categories-menu.dropdown-toggle
      a(href='#')
        span.sr-only Kategorier
        | &#9776;
    ul(aria-labelledby='heading-categories-menu', role='menu').dropdown-menu.dropdown-menu-right
      li
        a(role='menu-item', ng-click='setCatalog("")')
          | Alle
      li(ng-repeat='catalog in catalogs')
        a(role='menu-item', ng-click='setCatalog(catalog.alias)')
          | {{ catalog.name }}
    //ul
    //  li(ng-repeat="category in categories" ng-include="'categories.html'")


mixin responsiveImage(title)
  span(data-picture, data-alt=title)

    span(data-src=image_src_set['400'], data-media='(max-width: 400px)')
    span(data-src=image_src_set['800'], data-media='(min-width: 400px)')
    span(data-src=image_src_set['1200'], data-media='(min-width: 800px)')

    noscript
      img(src=image_src, alt=title, title=title)

mixin shareThisHTML()
  .dropdown
    a(data-toggle='dropdown', href='#').dropdown-toggle
      span.sr-only Del indhold
      span.glyphicon.glyphicon-share-alt
    .dropdown-menu.pull-right
      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_twitter_large' displayText='Tweet'></span>
      <span class='st_googleplus_large' displayText='Google +'></span>
      <span class='st_pinterest_large' displayText='Pinterest'></span>
      <span class='st_email_large' displayText='Email'></span>
      <span class='st_reddit_large' displayText='Reddit'></span>
      <span class='st_evernote_large' displayText='Evernote'></span>
      <span class='st_sharethis_large' displayText='ShareThis'></span>

mixin shareThisJS()
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "1151a286-82a8-4988-9f00-6de37128d9d6", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
