mixin analytics
  script.
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2930791-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

mixin head
  base(href='/')

  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')

  link(rel='stylesheet', href='../bower_components/ngprogress/ngProgress.css', type='text/css')
  link(rel='stylesheet', href='styles/main.css')

mixin header
  header.header
    .natmus
      .container
        .row
          p.col-xs-12
            a(href='http://natmus.dk')
              | Natmus.dk
    +samlingerHeader()

mixin footer
  footer
    .footer
      .container
        .row
          address.col-md-9
            span Nationalmuseet
            span Prinsens Palæ
            span Ny Vestergade 10
            span DK-1471 København K
            span Tel. +45 3313 4411

          .col-md-3
            h2 Følg os på:
            ul
              each val in ['Facebook', 'Twitter', 'YouTube']
                li= val

mixin samlingerHeader()
  hgroup.container
    .row
      .col-md-4.col-md-push-8
        .row
          .col-xs-9
            a(href='/')
              img(src='images/logotype.png', alt='Nationalmuseets samlinger')
          .col-xs-3
            a(href='/')
              img.pull-right(src='images/logo.png', alt='Nationalmussets samlinger')
      .col-md-8.col-md-pull-4.menu-container
        .row
          .col-xs-2.col-md-1.menu-container
            +navigation()
          .col-xs-10.col-md-8
            +searchBox()



mixin searchBox()
  - var path = (req.path).split('/')
  .form-group
      div(class='input-group')
        input(type='text', class='form-control', placeholder='Søg', name='q',
              autocomplete="off", ng-model='q',
              typeahead='term.text for term in suggestions')
        .input-group-btn
          button(type="submit", class="btn btn-default", ng-click='doSearch()') Søg

mixin icon(id)
  case id
    when 'menu-icon'
      svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", version="1.1", x="0px", y="0px", viewBox="0 0 512 512", enable-background="new 0 0 512 512", xml:space="preserve")
        path(id="#{id}", d="M462 163.5H50v-65h412V163.5z M462 223.5H50v65h412V223.5z M462 348.5H50v65h412V348.5z")
    when 'download-9-icon'
      svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", version="1.1", x="0px", y="0px", viewBox="0 0 512 512", enable-background="new 0 0 512 512", xml:space="preserve")
        path(id="#{id}", d="M360.353,277.271L256.998,380.802L153.647,277.271h47.529v-38.77h111.646v38.77H360.353z M201.177,220.49h111.646v-31.318H201.177V220.49z M312.823,172.729v-25.53H201.177v25.53H312.823z M90,256 c0,91.756,74.258,166,166,166c91.755,0,166-74.258,166-166c0-91.755-74.258-166-166-166C164.245,90,90,164.259,90,256z M462,256 c0,113.771-92.229,206-206,206S50,369.771,50,256c0-113.771,92.229-206,206-206S462,142.229,462,256z")
    when 'arrow-4-icon'
      svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", version="1.1", x="0px", y="0px", viewBox="0 0 512 512", enable-background="new 0 0 512 512", xml:space="preserve")
        path(id="#{id}", d="M160.879,312.387V205.609h117.064v-39.627l93.178,93.016l-93.178,93.018v-39.629H160.879z M90,256 c0,91.756,74.258,166,166,166c91.755,0,166-74.258,166-166c0-91.755-74.258-166-166-166C164.245,90,90,164.259,90,256z M462,256 c0,113.771-92.229,206-206,206S50,369.771,50,256c0-113.771,92.229-206,206-206S462,142.229,462,256z")      
    default
      span #{id} is not a valid icon ID

mixin navigation()
  nav.categories-menu
    h2#heading-categories-menu
      a(href='#')
        span.sr-only Kataloger og kategorier
        +icon('menu-icon')
        //- img(src='images/menu-icon.svg', alt='Kataloger og kategorier')
    ul(aria-labelledby='heading-categories-menu', role='menu').nav.dropdown-menu-right
      li
        a(href='', role='menu-item', ng-click='setCatalog("")')
          | Alle
      li(ng-repeat='catalog in catalogs')
        a(href='', role='menu-item', ng-click='setCatalog(catalog.alias)')
          | {{ catalog.name }}
        ul(ng-if='categories.children')
          li(ng-repeat='category in categories.children')
            a(href='')
              | {{category.name}}


mixin responsiveImage(title)
  span(data-picture, data-alt=title)

    span(data-src=image_src_set['400'], data-media='(max-width: 400px)')
    span(data-src=image_src_set['800'], data-media='(min-width: 400px)')
    span(data-src=image_src_set['1200'], data-media='(min-width: 800px)')

    noscript
      img(src=image_src, alt=title, title=title)

mixin shareThisHTML()
  .btn-group
    a(data-toggle='dropdown', href='#').dropdown-toggle.btn.btn-default Del
      +icon('arrow-4-icon')
    ul.dropdown-menu(role='menu')
      li.st_facebook(displayText='Facebook')
      li.st_twitter(displayText='Tweet')
      li.st_googleplus(displayText='Google +')
      li.st_pinterest(displayText='Pinterest')
      li.st_email(displayText='Email')
      li.st_reddit(displayText='Reddit')
      li.st_evernote(displayText='Evernote')
      li.st_sharethis(displayText='ShareThis')

mixin shareThisJS()
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "1151a286-82a8-4988-9f00-6de37128d9d6", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

// Asset mixins
mixin formatDate(from, to)
  - if(from && to && from.day == 1 && from.month == 1 && to.day == 31 && to.month == 12 && from.year == to.year)
    | #{from.year}
  - else
    - if(from)
      | #{from.day}/#{from.month}/#{from.year}
    - if((from && to) || (!from && !to))
      |  -
    - if(to)
      | #{to.day}/#{to.month}/#{to.year}

mixin addDating(item)
  - var categories_time = helpers.category_by_tag(categories, 'Tid');
  - if(categories_time.length > 0 || item.year)
    ul.categories
      - if(item.year)
        li.year= item.year
      each category in categories_time
        - if(category.name[0] != '$')
          li
            a(href='http://' + req.get('host') + '/#' + category.id)= category.name
  - else
    | -

mixin addPlace(item)
  - var categories_place = helpers.category_by_tag(categories, 'Lokalitet');
  - if(categories_place.length > 0)
    ul.categories
      each category in categories_place
        - if(category.name[0] != '$')
          li
            a(href='http://' + req.get('host') + '/#' + category.id)= category.name
  - else
    | -

